{% extends 'layaut.html' %}{% block content %}
<div class="row justify-content-center">
    <div class="col-md-10">

<h1>{{titulo | safe}}</h1>
        
        <small>{{contenido |safe}}</small>
    </div>


    <div class="bg-gradient bg-warning">      
          {% for post in banerabajo %}
        
        
        <img src="/media/{{post.miniatura | safe}}" class="mb-4 img-fluid">
        <h1 class="mt3"><a href="{% url 'preview' post.slug  %}" class="text-decoration-none text-reset">{{post.titulo | safe}}</a></h1>
        <small>{{post.contenido |safe}}</small>
        
        {% endfor %}
    </div>
</div>
{%endblock%}